@import "tailwindcss";

@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    /* ... gardez vos couleurs personnalisées si besoin ... */
}

/* Supprimez les @source - ils ne sont plus nécessaires en v4 */